#OneBlueBlock {
    background-color: aqua;
    border: green 2px solid;
}

#blockone {
    float: left;
    background-color: bisque;
    height: 80px;
    width: 500px;
}

#blocktwo {
    background-color: darkgray;
    overflow: auto;
}

img {
    float: right;
    width: 50%;
    height: 50%;

}

#texttwo {
    clear: both;
}

@media  (min-width: 960px) {
    #blocktwo {
        background-color: darkgray;
        margin-left: 305px;
    }

}

@media (max-width: 959px) {
    #blockone {
        width: 150px;
    }

    img {
        width: 220px;
        height: 200px;
    }
   
}