html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #edeff0;
}
header{
    background-color: #507299;
    height: 45px;
    width: 100%;
    position: fixed;
}
#web_img{
    margin-top: 10px;
    padding-left: 200px;
}
#cat_img{
    width: 100%;
}

main{
    display: flex;
    padding-top: 65px;
    justify-content: center;
    margin-left: -260px;
}
content{
    width: 480px;
    
}

.block_content{
    border: 20px solid white;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    text-align:justify;
}

#footer_content{
    color:#507299;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside{
    position:fixed;
    right:17vw;
    width: 170px;
}
.block_aside{
    border: 15px solid white;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5)
}


footer
{
    line-height: 30px;
    color:gray;
    background-color: white;
    text-align: center;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
}
li {
    color: #507299;
    width: 180px;
    padding: 8px;
}
li:hover{
    background-color:  #e1e5eb;;
}

::selection{
    color:green;
    background-color: #e0e4ea;
}
hr{
    border: none; 
    background-color: #d0d0d0; 
    height: 3px; 
}
p{
    background-color: #edeef0;
}

@media(max-width: 1220px) {
    aside{
        display: none;
    }
}

@media(max-width: 970px) {
    main{
        margin: auto !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul{
        justify-content: center;
        margin-bottom:40px ;
        width: 480px;
        display: flex;
        flex-wrap: wrap;

    }
    li{
        width: auto;
        margin:0 10px;
    }
}